@import "tailwindcss";

@theme {
  --color-primary: #181935;
  --color-secondary: #1959F1;
  --color-background: #FBFCFD;
}

@layer components {
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-primary to-secondary;
  }
}